.PageCard {
  margin-top: 150px;
  background: #000000;

  &:nth-child(even) {
    padding-top: 30px;
  }
}

.PageCard-link {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
}

.PageCard-image {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    display: block;
    transition: transform 500ms ease;
    will-change: transform;

    .PageCard:hover & {
      transform: scale(1.1);
    }
  }
}

.PageCard-heading {
  text-decoration: none;
  &:before {
    content: "\2014";
    display: block;
    padding: 50px 0 40px 0;
  }

  .PageCard-link:nth-child(even) & {
    padding-top: 40px;
    margin-top: -40px;
    background: black;
    z-index: 1;
    position: relative;
  }
}

.PageCard-heading-item {
  display: block;
  font-size: 18px;
  line-height: 30px;
}

.PageCard-hover {
  background-color: #0000FF;
  opacity: 0.85;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(105%);
  transition: transform 300ms ease;
  will-change: transform;

  .PageCard:hover & {
    transition: transform 300ms ease;
    transform: translateY(0);
  }
}

.PageCard-hover-heading {
  font-family: 'Didot';
  font-size: 45px;
  padding: 0 27px;
  opacity: 0;

  .PageCard:hover & {
    transition: opacity 250ms 300ms ease;
    opacity: 1;
  }
}
