.PageEditor-Sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0;

  border-right: 1px solid #ccc;
}

.PageEditor-Sidebar-heading {
  display: block;
  padding: 8px;
  border-bottom: 1px solid #ccc;

  font-size: 24px;
  text-align: center;
}

.PageEditor-Sidebar-subHeading {
  display: block;
  text-align: left;
  margin: 10px 0;
}

.PageEditor-Sidebar-section {
  padding: 10px 8px 20px;
  border-bottom: #ccc 1px solid;
}

.PageEditor-Sidebar-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: 8px;
    border-bottom: #ccc 1px solid;
  }
}

.PageEditor-Sidebar-child {
  padding: 0 8px;
}
