.Hero {
  width: 100%;
  height: 675px;
  background: #ccc;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 55px;
  color: #fff;
}

.Hero-h1 {
  margin: 0;
  padding: 0;
  font-size: 55px;
  color: #fff;
}

input[type="text"].Hero-h1--input {
  @extend .Hero-h1;
  font-family: 'Didot';
  border: 0;
  background-color: rgba(0,0,0, 0.2);
  -webkit-appearance: none;
}

.Hero-date {
  font-size: 24px;
  select {
    font-size: 24px;
  }
}
