@font-face {
  font-family: 'Didot';
  src: url("assets/fonts/Didot.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Haas Grot Disp';
  src: url("assets/fonts/NeueHaasGrotDisp-45Light.otf");
  font-weight: normal;
}

@font-face {
  font-family: 'Haas Grot Disp';
  src: url("assets/fonts/NeueHaasGrotDisp-65Medium.otf");
  font-weight: bold;
}
