.App--PageEditor {
  .Navigation {
    display: none;
  }
}
.PageEditor-container {
  padding-left: 200px;
}

.PageEditor-options {
  height: 0;
  position: relative;
  display: flex;
  justify-content: center;
  transition: height 300ms ease;
  &.show-block {
    height: 200px;
  }
}

.PageEditor-options-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 75px;
  opacity: 0;
  .show-block  & {
    transition: opacity 150ms 200ms ease;

    opacity: 1;
  }
  
}

.PageEditor-options-toggle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #000000;
  margin-top: -25px; 

}
.is-sorting {
 & .soc {
    animation-name: wobble;
    animation-iteration-count: infinite;
    animation-duration: 600ms;
  }
}

@keyframes wobble {
  from {
    transform: none;
  }

  15% {
    transform: translate3d(-5px, 0, 0) rotate(-1deg);
  }

  30% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  45% {
    transform: translate3d(5px, 0, 0) rotate(1deg);
  }

  60% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  75% {
    transform: translate3d(-5px, 0, 0) rotate(-1deg);
  }

  to {
    transform: none;
  }
}
